@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your CSS file or in a <style> tag */
.scroll-container {
    display: flex;
    gap: 1.25rem; /* Adjust as needed */
    margin-top: 1.25rem; /* Adjust as needed */
    overflow-x: auto;
    padding-bottom: 1rem; /* Prevent content cut-off */
    scrollbar-width: thin;
    scrollbar-color: #888 #444; /* Scrollbar thumb and track colors */
  }
  
  .scroll-container::-webkit-scrollbar {
    height: 10px; /* Adjust the height of the scrollbar */
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background: #444; /* Scrollbar track color */
    border-radius: 10px; /* Rounded corners for the track */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 3px solid #444; /* Padding around the thumb */
  }
  